/* 1st fix the typography : google fonts. fonts have diff weights */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,200&display=swap');

 /* Define your theme color as a CSS variable and use it everywhere. 
 var(--name, value)*/
.root {
    --primary-color: #be185d;
 }

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding-left: 1rem; padding-right: 1rem ;
}

.container-centre{
    max-width:600px ;
    margin: auto;
}

/* links */
.link{
    margin: 1rem;
    text-decoration: none;
}
.link-primary{
    padding: 0.5rem;
    background-color: #1b1a1a;
    border-radius: 0.5rem;
    color: #be185d;
}

.link-secondary{
    color: #be185d;
}

hr{
    margin-top: 1.5rem;
}


/* LIST-bullets */
.no-bullets{
    list-style: none
}
.inline{
    margin-right: 1.5rem;
    display: inline;
}
.reverse{
    margin-left: 2rem;
}


/* navigation */
.nav-text{
    margin-bottom: 2rem;
}
.navigation{
    background-color: #be185d;
    margin: 1rem;
    border-bottom-left-radius: 2rem;        
}
.navigation-brand{
    padding-top: 1rem;
    font-weight: bold;
    font-size: medium;
}

.navi-list{
    text-align: right;
    padding-bottom: 1rem;
}

.navi-no-bullets{
    color: white;
    list-style: none;
    text-decoration: none;
    }

.nav-current{
    font-weight: bold;
}    

/* HEADER */

.hero{
    padding: 1rem;
}
.hero-image{
    display: block;
    margin: auto;
    max-width: 50%;
}
.hero-text{
    text-align: center;
    font-weight: bold;
    color: #2F2E40;
    font-size: x-large;
}