/* 1st fix the typography : google fonts. fonts have diff weights */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,200&display=swap');

 body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 0px;
}

 /* Define your theme color as a CSS variable and use it everywhere. 
 var(--name, value)*/
:root {
    --primary-color: #be185d;
    --second-color: #2F2E40;
 }

 .margin-md{
    
 }
.container{
    padding-left: 1rem; padding-right: 1rem ;
}

.container-centre{
    max-width:600px ;
    margin: auto;
}

h3{
    margin-left: 3rem;
}

/* links */
.link{
    margin: 1rem;
    text-decoration: none;
}
.link-primary{
    padding: 0.5rem;
    background-color:var(--second-color);
    border-radius: 0.5rem;
    color:var(--primary-color);
}

.link-secondary{
    color:var(--primary-color);
}

hr{
    margin-top: 1.5rem;
}


/* LIST-bullets */
.no-bullets{
    list-style: none;
    margin-left: 3rem;
}
.inline{
    margin-right: 1.5rem;
    display: inline;
}
.reverse{
    margin-left: 3rem;
}


/* navigation */
.nav-text{
    margin-bottom: 2rem;
}
.navigation{
    background-color:var(--primary-color);
    margin: 1rem;
    border-bottom-left-radius: 2rem;        
}
.navigation-brand{
    padding-top: 1rem;
    font-weight: bold;
    font-size: medium;
}

.navi-list{
    text-align: right;
    padding-bottom: 1rem;
}

.navi-no-bullets{
    color: white;
    list-style: none;
    text-decoration: none;
    }

.nav-current{
    font-weight: bold;
}    

/* HEADER */

.hero{
    padding: 1rem;
}
.hero-image{
    display: block;
    margin: auto;
    max-width: 50%;
}
.hero-text{
    text-align: center;
    font-weight: bold;
    color:var(--second-color);
    font-size: x-large;
}

/* Section */
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color: var(--second-color);
    color: white;
}

/* FOOTER */

.footer{
    background-color: var(--second-color);
    margin:auto;
    padding: 1rem;
}
.footer-heading{
    text-align: center;
    color: white;
    padding-bottom: 1rem;
    font-weight: bold;
}
.foot-list{
    text-align: center;
}
.footer .footer-list{
    padding: 1rem;
    color:var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size:large;
}