/* 1st fix the typography : google fonts. fonts have diff weights */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,200&display=swap');

 /* Define your theme color as a CSS variable and use it everywhere. 
 var(--name, value)*/
.root {
    --primary-color: #be185d;
 }

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding-left: 1rem; padding-right: 1 rem ;
}

.container-centre{
    max-width:600px ;
    margin: auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 3rem, 3rem ;
}
.primary-link{
    color: black;
    background-color: #eb2b91;
    border: 0.15rem outset #d631a2;
    border-radius: 0.25rem;
}

.secondary-link{
    border: 0.05rem solid #d631a2;
    border-radius: 0.20rem;
    color:black
}